
.card{
    width: 15rem;
    /* background-color: blue; */
    margin:1rem;
    border-width: 1px;
    /* border-style: solid; */
    /* border-color: black; */
    border-radius: 8px;
    box-shadow: 2px 2px 15px 5px #767474 ;
  }

  .flexElements{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }

  .flexElementsRow{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .imageCardContainer{
    width:9rem;
    height:9rem;
    padding: 0.5rem;
  }



  .addItemDiv{
    border-radius:0 0 8px 8px;
    background-color:#1565c0;
    cursor:pointer;
    text-align:center;
    color:white;
  }


.adminAddItemOuterDiv{
    display: flex;
    /* width: 100vw; */
    height:90vh;
    justify-content: center;
}

.adminAddItemInnerDiv{
    width:60%;
    height:85vh;
    max-height: 85vh;
    overflow-y: auto;
    /* background-color: ; */
    border-radius: 3px;
    box-shadow: 2px 2px 15px 5px #767474;
}

.finalPurchaseDiv{
    width:40%;
    /* background-color: ; */
    border-radius: 3px;
    box-shadow: 2px 2px 15px 5px #767474;
}

.itemListBill{
    max-height: 50vh;
    overflow-y: auto;
}

.billShowDiv{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}